

* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 3%;
}

input {
    font-size: 1.3rem;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 3px 5px #888888;
    outline-style: none;
    margin: 10px 0 20px 0;
}

h2, h3 {
    text-align: center;
}

ol {
    padding-left: 0;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    border: 1px solid darkgray;
    border-radius: 6px;
    box-shadow: 10px 10px 20px gray;
    margin: 10px 10px 50px 10px;
    width: fit-content;
    overflow: hidden;
    text-align: center;
}

.card p {
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}